.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.review {
    border: 2px solid peru;
    border-radius: 10px;
}

.review h6 {
    font-size: 25px;
    font-weight: 600;
}

.review p {
    font-size: 20px;
}